.lead_nss{
float:right;

background-color: black;
width:75px;
height:75px;
border-radius: 37.5px;
}
.navbar{
  border-radius: 5px;
}
.banner{

  color:white;
  border-radius: 5px;
}

.title:after {
    content: "";
    display: block;
    height: 4px;

    width: 10vw;
    background-color: #6195FF;
    margin-top: 10px;
}

.Nss{

}
.win:after{
  content: "";
  display: block;
  height: 4px;

  width: 11vw;
  background-color: #6195FF;
  margin-left: 30vw;
  margin-top: 10px;
}
.team:after{
  content: "";
  display: block;
  height: 4px;

  width: 13vw;
  background-color: #6195FF;
  margin-left: 30vw;
  margin-top: 10px;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.address{
  font-size: 22px;
}
.Nss,.Events{
  font-size: 20px;
}
.Events{

}
.conAboutUS{
    background-color:#FAFAFA;
}
.AboutUs{
  font-size: 24px;

}
.FollowUs{}
